<head>

</head>

<%= form_tag("/result") do %>
  <p><input type="text" name="cards" id="cards" value="<%= @cards %>">

  </p>
  <p><input type="submit" name="commit" value="Check" id="check"></p></form>

</div>

<div id="hand"><p><%=  @result %></p></div>
  <%= @validations_result %>
<!--    <div><%#= validation %></div>-->
  <%# end %>

<div id="validation_empty"><%= @validation_empty %></div>
  <div id="validation_number_of_cards"><%= @validation_number_of_cards %></div>

<% end %>




